@import '../../_css/common';

.removeFromCartButton {
  all: unset;
  cursor: pointer;
  @extend %label;
  transition: transform 0.4s ease;
}

.removeFromCartButton:hover {
  transform: scale(1.2);
}
