@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
  }

  @include small-break {
    display: none;
  }
}

@include small-break {
  .nav a:not(.userIconContainer a) {
    margin: 1rem 2rem;
    font-weight: 600;
    color: #080707;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.navButton {
  transition: background-color 0.2s ease-in-out;
}

.navButton:hover {
  background: #151313;
}

@include small-break {
  .buttonForLargeScreen {
    display: none;
  }
}

// Hamburger styles
.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  color: #080707;
}

// When the menu is open, display the .nav as a sliding panel from the right
@include small-break {

  .hamburger {
    display: block;
    position: absolute;
    left: 10px;
  }
    
  .nav {
    position: fixed;
    top: 114px;
    left: -100%; 
    height: 100vh; 
    width: 100vw; 
    font-size: 1.5rem;
    background-color: #fff; 
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 1rem; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  .nav.isOpen {
    left: 0; 
  }
}

@include small-break {
  .userIconContainer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    left: 0;
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    width: 100%;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    img {
      display: inline-block;
      vertical-align: middle;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      border-top: 1px solid #ccc; 
      width: 100%;
    }
  }

  .spanText {
    font-size: 1.2rem;
    color: #080707;
  }
}
